.app-container {
  width: 400px;
}
.letter {
  border: 1px solid #ccc;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  width: 34px;
  text-align: center;
}
.flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
  gap: 5px;
}
.mt-10 {
  margin-top: 10px;
}
.button {
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  width: 34px;
  text-align: center;
  border-radius: 4px;
}
.guessed,
.hidden {
  display: none;
}
